
@keyframes slide-down {

    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


body {
    animation: slide-down 2s ease-in-out;
}

.hoverable {
    cursor: url('black-arrow.png'), auto;
}